<%= form_tag(:controller => "hotels", :action => "update", method: "post") do %>
  <p>
    <%= label_tag(:name, "Name") %>
    <%= text_field(nil, :name, :value => hotel['name'], size: 75, :required => true) %>
  </p>
  <p>
    <%= label_tag(:address, "Address") %>
    <%= text_field(nil, :address, :value => hotel['address'], size: 75, :required => true) %>
  </p>
  <p>
    <%= label_tag(:accommodation_type, "Accommodation Type") %>
    <%= select(
      nil,
      'accommodations_id',
      accommodations['accommodations'].each.map {
        |accommodation| [accommodation['type'], accommodation['id']] 
      },
      :selected => hotel['accommodation_id']) %>
  </p>
  <p>
    <%= label_tag(:stars_rating, "Stars") %>
    <%= select(
      nil,
      'star_rating_id',
      stars['stars_rating'].each.map {
        |star| [star['rating'], star['id']] 
      },
      :selected => hotel['stars_rating_id']) %>
  </p>
  <%= submit_tag("Update") %>
<% end %>
