<h1><%= hotel['name'] %></h1>
<div class="entry">
	<p><strong>Address: </strong><%= hotel['address'] %></p>
	<p><strong>Accommodation Type: </strong><%= accommodation %></p>
	<p><strong>Stars: </strong><%= star %></p>
	<div class="links">
        <div class="link">
        	<%= 
				link_to 'Edit', {
					:controller => "hotels",
					:action => "edit",
					:hotel => hotel
				}, :method=>:get  
			%>
        </div>
        <div class="link">
        	<%= 
				link_to 'Delete', {
					:controller => "hotels",
					:action => "destroy",
					:hotel_id => hotel['id']
				}, :method=>:delete  
			%>
        </div>
    </div>

</div>
